@use '_Mixins.module.scss' as *;
@use '_Variables.module.scss' as *;

.container{
  .top{
@include flexRow;
align-items: center;
.icon{
  translate: 2rem 0rem;
}
.temp{
  font-size: 2.8rem;
  translate: -1rem 3.5rem;
}
}
}
