@use '_Mixins.module.scss' as *;
@use '_Variables.module.scss' as *;

.container{
  @include flexRow;
  justify-content: space-between;
  height: 100%;
margin-inline: 1rem;
.left{
@include gridCenter;
}

.right{
  @include gridCenter;
  a{
color: $mainClr;

  }
}
}
