* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
color: rgba(232,221,203,1);
}
a{
  text-decoration: none;
}
body {
  width: clamp(20rem, 75rem, 100dvw);
  margin-inline: auto;
  height: 100dvh;

  background: rgba(3,54,73,.5);
  box-shadow: 0px 0px 10px 2px rgba(42, 150, 150, 0.4);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(42, 150, 150, 0.4);
  -moz-box-shadow: 0px 0px 10px 2px rgba(42, 150, 150, 0.4);
}
header {
  height: 5dvh;
  background: rgba(3,22,52,1);
}
main {
  height: 90dvh;
  display: grid;
  place-items: center;
}
footer {
  display: grid;
  place-items: center;
  height: 5dvh;
  font-weight: 200;
}

